.m-bookable-status {
  .m-bookable-status-items-wrapper {
    .header {
      width: 100%;
      padding: 6px 10px;
      background-color: #fff;
      color: #333;
    }

    .m-bookable-item-status {
      .row {
        padding: 6px 10px 0px;
        width: 100%;
        background-color: #485563;
      }

      &:last-child {
        .row {
          padding-bottom: 6px;
        }
      }
    }

    .name {
      width: 40%;
      float: left;
    }

    .holders {
      width: 60%;
      float: left;

      .m-holder {
        display: inline-block;
        width: 100%;

        div {
          float: left;
        }

        .holder-name {
          width: 50%;
        }

        .bookedfor {
          width: 50%;
        }
      }
    }
  }
}