/* line 1, ../../../scss/core.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Grande', Arial, sans-serif;
  background-color: #2b3e50;
  color: #ebebeb;
  width: auto;
}

/* line 10, ../../../scss/core.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 15, ../../../scss/core.scss */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 21, ../../../scss/core.scss */
.center-container {
  background-color: #2b3e50;
  padding-top: 20px;
}

/* line 26, ../../../scss/core.scss */
.icon {
  width: 16px;
  height: 16px;
  margin-bottom: 5px;
  background-image: url("/images/edit.png");
  position: absolute;
  right: 0;
  top: 12px;
}
/* line 35, ../../../scss/core.scss */
.icon:hover {
  cursor: pointer;
}

/* line 40, ../../../scss/core.scss */
.m-page {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}
/* line 46, ../../../scss/core.scss */
.m-page .top-container {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #485563;
  color: #ebebeb;
  vertical-align: middle;
  font-size: 12px;
  line-height: 36px;
}
/* line 56, ../../../scss/core.scss */
.m-page .top-container .m-item {
  margin-right: 6px;
}
/* line 59, ../../../scss/core.scss */
.m-page .top-container .m-item:last-child {
  margin-right: 0px;
}
/* line 64, ../../../scss/core.scss */
.m-page .top-container a {
  color: #ebebeb;
}
/* line 67, ../../../scss/core.scss */
.m-page .top-container a.logout {
  margin-left: 10px;
}
/* line 72, ../../../scss/core.scss */
.m-page .top-container ul {
  float: right;
}
/* line 76, ../../../scss/core.scss */
.m-page .top-container ul.options li {
  float: left;
  margin-left: 10px;
}
/* line 81, ../../../scss/core.scss */
.m-page .top-container ul.options li:first-child {
  margin-left: 10px;
}
/* line 88, ../../../scss/core.scss */
.m-page .m-bookable {
  box-sizing: border-box;
}
/* line 91, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-owner {
  padding: 10px;
  color: #fff;
  background-color: #df691a;
  box-sizing: inherit;
}
/* line 98, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-owner-not-found {
  padding: 10px;
  color: #fff;
  background-color: #ff0000;
  box-sizing: inherit;
}
/* line 105, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-search {
  padding: 16px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #485563;
}
/* line 111, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-search label {
  line-height: 32px;
  font-weight: 300;
  margin-right: 8px;
}
/* line 117, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-search .datetimepicker {
  padding: 4px;
  direction: ltr;
  color: #2b3e50;
  height: 32px;
  width: 160px;
  border: solid 1px transparent;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
}
/* line 129, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-search #search-bookable {
  color: #ffffff;
  background-color: #5bc0de;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 16px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 0;
  width: 80px;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 148, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-search #search-bookable:hover {
  background-color: #5bc0ff;
}
/* line 154, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-items-wrapper {
  box-sizing: border-box;
}
/* line 157, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-items-wrapper .m-bookable-date {
  background-color: #4e5d6c;
}
/* line 160, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-items-wrapper .m-bookable-date .m-date {
  background-color: #df691a;
  color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 16px;
}
/* line 169, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-items-wrapper .m-bookable-date ul {
  min-height: 10px;
}
/* line 172, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-items-wrapper .m-bookable-date ul li {
  float: left;
  position: relative;
  margin: 15px;
  display: table;
}
/* line 178, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-items-wrapper .m-bookable-date ul li .error {
  position: absolute;
  top: 20px;
  font-size: 12px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ee0000;
  padding: 0 15px;
  display: none;
}
/* line 190, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-items-wrapper .m-bookable-date ul li .m-bookable-item {
  width: 150px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  background-color: #5cb85c;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
}
/* line 205, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-items-wrapper .m-bookable-date ul li .m-bookable-item.selected {
  opacity: 0.6;
}
/* line 209, ../../../scss/core.scss */
.m-page .m-bookable .m-bookable-items-wrapper .m-bookable-date ul li .m-bookable-item.conflict {
  background-color: #eeeeee;
  color: #333333;
}
/* line 220, ../../../scss/core.scss */
.m-page .m-booking {
  width: 100%;
  margin: 0 auto;
}
/* line 224, ../../../scss/core.scss */
.m-page .m-booking .m-booking-items-wrapper {
  box-sizing: border-box;
}
/* line 227, ../../../scss/core.scss */
.m-page .m-booking .m-booking-items-wrapper .m-bookedfor {
  background-color: #df691a;
  color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 16px;
}
/* line 236, ../../../scss/core.scss */
.m-page .m-booking .m-booking-items-wrapper .m-booking-items {
  background-color: #4e5d6c;
  min-height: 10px;
}
/* line 240, ../../../scss/core.scss */
.m-page .m-booking .m-booking-items-wrapper .m-booking-items .m-booking-item {
  margin: 15px;
  width: 150px;
  height: 100px;
  display: inline-block;
  background-color: #5cb85c;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  opacity: 1;
}
/* line 255, ../../../scss/core.scss */
.m-page .m-booking .m-booking-items-wrapper .m-booking-items .m-booking-item.selected {
  display: none;
  opacity: 0;
  -webkit-transition: display 0s 1s, opacity 1s linear;
  transition: display 0s 1s, opacity 1s linear;
}
/* line 261, ../../../scss/core.scss */
.m-page .m-booking .m-booking-items-wrapper .m-booking-items .m-booking-item .m-booking-name {
  display: inline-block;
}
/* line 265, ../../../scss/core.scss */
.m-page .m-booking .m-booking-items-wrapper .m-booking-items .m-booking-item .m-booking-cancel {
  display: none;
}
/* line 270, ../../../scss/core.scss */
.m-page .m-booking .m-booking-items-wrapper .m-booking-items .m-booking-item:hover .m-booking-cancel {
  display: inline-block;
  position: absolute;
  left: 4px;
  top: 4px;
  color: #fff;
  background: #888888;
  padding: 4px 6px;
  font-size: 12px;
  opacity: 0.7;
}
/* line 281, ../../../scss/core.scss */
.m-page .m-booking .m-booking-items-wrapper .m-booking-items .m-booking-item:hover .m-booking-cancel:hover {
  opacity: 1;
}
/* line 297, ../../../scss/core.scss */
.m-page .wide-form {
  background-color: #4e5d6c;
  width: 100%;
  max-width: 480px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
}
/* line 305, ../../../scss/core.scss */
.m-page .wide-form .modal-footer {
  margin-top: 16px;
}
/* line 308, ../../../scss/core.scss */
.m-page .wide-form .modal-footer .btn {
  margin-right: 10px;
}
/* line 310, ../../../scss/core.scss */
.m-page .wide-form .modal-footer .btn:hover {
  cursor: pointer;
}
/* line 314, ../../../scss/core.scss */
.m-page .wide-form .modal-footer .btn:last-child {
  margin-right: 0px;
}
/* line 320, ../../../scss/core.scss */
.m-page .wide-form .modal-footer .btn-cancel a {
  color: #fff;
  text-decoration: none;
}
/* line 327, ../../../scss/core.scss */
.m-page .wide-form .field {
  margin-bottom: 10px;
}
/* line 330, ../../../scss/core.scss */
.m-page .wide-form .field .field-label {
  color: #ebebeb;
}
/* line 334, ../../../scss/core.scss */
.m-page .wide-form .field .field-ui {
  margin: 10px auto;
}
/* line 338, ../../../scss/core.scss */
.m-page .wide-form .form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 1px solid transparent;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  padding: 8px 16px;
}
/* line 348, ../../../scss/core.scss */
.m-page .wide-form .btn {
  font-size: 16px;
  padding: 6px 8px;
  color: white;
  background-color: #5CB85C;
  border: none;
  font-weight: 300;
  width: 100px;
  height: 35px;
}
/* line 360, ../../../scss/core.scss */
.m-page .m-my-bookable {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
/* line 365, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-control {
  margin-bottom: 10px;
}
/* line 368, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-control a.m-create-bookable {
  color: #ffffff;
  text-decoration: none;
  background-color: #5bc0de;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 16px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 0;
  width: 80px;
  outline: none;
  display: inline-block;
}
/* line 385, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-control a.m-create-bookable:hover {
  background: #5bc0ef;
}
/* line 391, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items {
  background-color: #4e5d6c;
  display: inline-block;
  width: 100%;
}
/* line 399, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item {
  display: inline-block;
  width: 100%;
}
/* line 404, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item.header div {
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
/* line 410, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .cell {
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
/* line 416, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .name {
  width: 50%;
  position: relative;
}
/* line 420, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .name .edit {
  position: absolute;
  right: 0;
  top: 26px;
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  box-sizing: border-box;
  border: solid 1px transparent;
}
/* line 431, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .name .edit.enable {
  background-color: #5cb85c;
  border: solid 1px #fff;
  padding-bottom: 10px;
  z-index: 99;
}
/* line 437, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .name .edit.enable ul {
  display: block;
}
/* line 442, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .name .edit ul {
  display: none;
}
/* line 445, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .name .edit ul li {
  margin-bottom: 5px;
}
/* line 448, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .name .edit ul li:last-child {
  margin-bottom: 0px;
}
/* line 452, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .name .edit ul li a {
  color: #fff;
  padding: 4px 8px;
}
/* line 461, ../../../scss/core.scss */
.m-page .m-my-bookable .m-my-bookable-items ul li .m-item .last-modified {
  width: 50%;
}
/* line 470, ../../../scss/core.scss */
.m-page .m-pagination {
  padding: 10px;
  background-color: #5bc0de;
  margin-bottom: 10px;
}
/* line 475, ../../../scss/core.scss */
.m-page .m-pagination ul {
  display: inline-block;
}
/* line 479, ../../../scss/core.scss */
.m-page .m-pagination ul.pagination li {
  float: left;
  margin-right: 6px;
}
/* line 483, ../../../scss/core.scss */
.m-page .m-pagination ul.pagination li a {
  color: #fff;
  text-decoration: underline;
}
/* line 488, ../../../scss/core.scss */
.m-page .m-pagination ul.pagination li .current {
  color: #485563;
}
/* line 497, ../../../scss/core.scss */
.m-page .m-supplier .m-supplier-items-wrapper {
  box-sizing: border-box;
  background-color: #485563;
  padding: 10px;
}
/* line 502, ../../../scss/core.scss */
.m-page .m-supplier .m-supplier-items-wrapper .m-supplier-item {
  margin-bottom: 10px;
}
/* line 505, ../../../scss/core.scss */
.m-page .m-supplier .m-supplier-items-wrapper .m-supplier-item:last-child {
  margin-bottom: 0px;
}
/* line 509, ../../../scss/core.scss */
.m-page .m-supplier .m-supplier-items-wrapper .m-supplier-item a.m-supplier-bookable {
  color: #fff;
}
/* line 517, ../../../scss/core.scss */
.m-page .m-profile .m-change-password-link {
  padding: 10px 0px;
  margin-top: 10px;
}
/* line 521, ../../../scss/core.scss */
.m-page .m-profile .m-change-password-link a {
  color: #fff;
}
/* line 527, ../../../scss/core.scss */
.m-page .m-error {
  width: 100%;
  padding: 10px;
  font-weight: 300;
  background-color: #ff0000;
  margin-bottom: 20px;
}

/* line 536, ../../../scss/core.scss */
.clearfix {
  clear: both;
}

/* line 540, ../../../scss/core.scss */
.validation-error {
  background-color: red;
  padding: 4px;
  font-size: 14px;
  font-weight: 300;
}
/* line 548, ../../../scss/core.scss */
.validation-error ul li:before {
  content: '-';
}

/* line 3, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-search {
  padding: 16px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #485563;
}
/* line 9, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-search label {
  line-height: 32px;
  font-weight: 300;
  margin-right: 8px;
}
/* line 15, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-search .datetimepicker {
  padding: 4px;
  direction: ltr;
  color: #2b3e50;
  height: 32px;
  width: 160px;
  border: solid 1px transparent;
  margin-right: 20px;
  outline: none;
  font-size: 14px;
}
/* line 27, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-search #search-bookable-status {
  color: #ffffff;
  background-color: #5bc0de;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 16px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 0;
  width: 80px;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 46, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-search #search-bookable-status:hover {
  background-color: #5bc0ff;
}
/* line 53, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-items-wrapper .header {
  width: 100%;
  padding: 4px 6px;
  background-color: #fff;
  color: #333;
}
/* line 60, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-items-wrapper .row {
  padding: 4px 6px;
  width: 100%;
  background-color: #485563;
}
/* line 66, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-items-wrapper .name {
  width: 50%;
  float: left;
}
/* line 71, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-items-wrapper .holders {
  width: 50%;
  float: left;
}
/* line 75, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-items-wrapper .holders .m-holder {
  display: inline-block;
  width: 100%;
}
/* line 79, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-items-wrapper .holders .m-holder div {
  float: left;
}
/* line 83, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-items-wrapper .holders .m-holder .holder-name {
  width: 50%;
}
/* line 87, ../../../scss/_modules/_m-my-bookable-status.scss */
.m-bookable-status .m-bookable-status-items-wrapper .holders .m-holder .bookedfor {
  width: 50%;
}

/*# sourceMappingURL=core.css.map */